html {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  text-align: center;
  background-color: red;
  padding: 0em;
  margin: 0;
}

 h1 {
  color: white;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.3rem;
  z-index: 1000;
  padding: 2em 2em 2em 2em;
  position: absolute;
  text-shadow: #222 2px 4px 3px;
  top: -85px;
  left: 0px;
  width: 100%;
}
small{
  font-size: 0.5rem;
  display: block;
}

.medallion {
  width: 80px;
  margin: 7px;
  padding: 0;
}

h3 {
	text-shadow: #222 2px 2px 3px;
	color: white;
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	font-style: italic;
	bottom: 3px;
	font-family: 'Noto Sans', sans-serif;
}

h4 {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  font-size: 1.5em;
  padding-top: 1em;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  text-align: center;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav a {
  display: block;
  padding: 0.5em 0.75em 0.75em;
  margin: 0px;
  background-color: #222222;
  color: #fff;
  text-decoration: none;
  width: 100%;
}

a:hover {
  display: inline-block;
  background-color: #e4c22a;
}

nav li {
  font-weight: normal;
  color: #fff;
  font-size: 0.9rem;
  font-style: normal;
  line-height: 1;
  float: left;
  width: 50%;
  text-align: left;
}

.banner {
  width: 100%;
  padding-bottom: 0.7em;
  display: block;
}

.bannertext {
  position: relative;
}

.dragon {
  background-color: #e4c22a;
  font-size: 0.9em;
  text-align: center;
}

.goat {
  background-color: black;
  color: white;
  font-size: 0.9em;
  text-align: center;
}

.rooster {
  background-color: #bc0017;
  color: white;
  font-size: 0.9em;
  text-align: center;
}

.ox {
  background-color: #e4c22a;
  font-size: 0.9em;
  text-align: center;
}

.right {
	clear: right;
  width: 50%;
}

.left {
	float: right;
  width: 50%;
}

p {
	margin-left: 20px;
  font-size: 0.8em;
  margin: 0;
  padding-bottom: 1.5em;
}

footer {
  background-color: black;
  text-align: center;
  padding: 1.5em 0em 1.5em 0em;
}

 .footer {
   color: white;
   text-decoration: underline;
   font-size: 0.8em;
 }
