html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  text-align: center;
  background-color: red;
  padding: 0em;
  margin: 0;
}

 h1 {
  color: white;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.3rem;
  z-index: 1000;
  padding: 2em 2em 2em 2em;
  position: absolute;
  text-shadow: #222 2px 4px 3px;
}

h2 {
  color: white;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
  top: 1rem;
  position: absolute;
  z-index: 1000;
  text-shadow: #222 2px 4px 3px;
}

h3 {
	text-shadow: #222 2px 2px 3px;
	color: white;
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	font-style: italic;
	bottom: 280px;
	font-family: 'Noto Sans', sans-serif;
}

h4 {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

.medallion {
  width: 17%;
  margin-top: 2em;
  padding-bottom: 0em;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  text-align: center;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav a {
  display: block;
  padding: 0.5em 0.75em 0.75em;
  margin: 0px;
  background-color: #222222;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  background-color: #a93f35;
}

nav li {
  font-weight: normal;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-family: 'Merriweather';
  line-height: 1;
  float: left;
  width: 50%;
  text-align: left;
}

.banner {
  width: 100%;
}
.

.right {
	clear: left;
}

.left {
	float: left;
}

p {
	margin-left: 20px;
}
